<footer class="footer mt-auto py-3 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Xerox E-Commerce</h5>
                <p>Your one-stop solution for book and PDF xerox services!</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/xerox" class="text-light">Services</a></li>
                    <li><a href="/auth/login" class="text-light">Login</a></li>
                    <li><a href="/auth/register" class="text-light">Register</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
          Email: <a href="mailto:info@xerox-ecommerce.com" class="text-light">info@xerox-ecommerce.com</a><br>
          Phone: +1 (123) 456-7890
        </address>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy;
                <%= new Date().getFullYear() %> Xerox E-Commerce. All rights reserved.</p>
        </div>
    </div>
</footer>